#{$prefix}-dialog {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 3px;
  overflow: hidden;

  > .el-dialog__header {
    position: relative;
    padding: 0;
    margin-right: 0;
    flex-shrink: 0;
  }

  > .el-dialog__body {
    position: relative;
    padding: 0;
    flex-grow: 1;

    > #{$prefix}-dialog_content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 100%;

      > #{$prefix}-dialog_body {
        position: relative;
        flex-grow: 1;

        > #{$prefix}-dialog_wrapper {
          position: absolute;
          width: 100%;
          height: 100%;

          > #{$prefix}-scrollbar {
            position: absolute;
            width: 100%;
            height: 100%;

            > .el-scrollbar__wrap {
              > .el-scrollbar__view {
                padding: 10px;
              }
            }
          }
        }
      }

      > #{$prefix}-dialog_footer {
        flex-shrink: 0;
        padding: 10px;
        border-top: 1px solid $border-color-3;
        text-align: right;
        z-index: 999;
        background-color: #fff;
      }
    }
  }

  &.no-scrollbar {
    > .el-dialog__body {
      > #{$prefix}-dialog_content {
        > #{$prefix}-dialog_body {
          > #{$prefix}-dialog_wrapper {
            padding: 10px;
            height: auto;
          }
        }
      }
    }
  }

  &.no-scrollbar.has-height {
    > .el-dialog__body {
      > #{$prefix}-dialog_content {
        > #{$prefix}-dialog_body {
          > #{$prefix}-dialog_wrapper {
            height: 100%;
          }
        }
      }
    }
  }

  &.no-padding {
    > .el-dialog__body {
      > #{$prefix}-dialog_content {
        > #{$prefix}-dialog_body {
          > #{$prefix}-dialog_wrapper {
            padding: 0;

            > #{$prefix}-scrollbar {
              > .el-scrollbar__wrap {
                > .el-scrollbar__view {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  &.is-fullscreen {
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    margin-top: 0 !important;
    height: 100% !important;
    width: 100% !important;
    z-index: $z-index-dialog-fullscreen;
  }
}
