#{$prefix}-skin-toggle {
  &_wrapper {
    padding: 0 10px;
  }

  &_item {
    position: relative;
    display: inline-block;
    margin: 15px 5px;
    width: 200px;
    height: 130px;

    .preview {
      position: relative;
      padding: 3px;
      border: 1px solid #b8dbed;
      cursor: pointer;
      overflow: hidden;
      height: 100px;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .check {
      display: none;
      position: absolute;
      bottom: -20px;
      right: -26px;
      width: 45px;
      height: 35px;
      text-align: center;
      background-color: #e6a23c;
      color: #fff;
      transform: rotate(45deg);

      .m-icon {
        position: absolute;
        left: 2px;
        top: 11px;
        transform: rotate(-45deg);
        font-size: 0.8em;
      }
    }

    .name {
      margin: 10px 0;
      text-align: center;
      font-size: 14px;
      color: #39c;
    }

    &.active {
      .preview {
        border: 1px solid #e6a23c;
      }

      .name {
        color: #e6a23c;
      }
      .check {
        display: inline-block;
      }
    }
  }

  &_sizes {
    padding: 0 10px;
    text-align: center;
  }

  &_themes {
    padding: 10px;
    text-align: center;
  }

  &_theme {
    display: inline-block;
    margin: 10px 20px;
    line-height: 2;

    div {
      display: inline-block;
      margin-bottom: 6px;
      width: 40px;
      height: 40px;
      border-radius: 25px;
      cursor: pointer;
      transition: all 0.2s ease-in;

      &:hover {
        transform: scale(1.1);
      }
    }

    &.active {
      div {
        transform: scale(1.2);
        box-shadow: 0px 0px 5px #0ccf91;
      }
    }
  }
}
