#{$prefix}-flex-row {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  height: 100%;

  #{$prefix}-flex-fixed {
    flex-shrink: 0;
  }

  #{$prefix}-flex-auto {
    flex-grow: 1;
    overflow: hidden;
    box-sizing: border-box;
  }
}
