/*前缀*/
$prefix: '.mu';

/***************************颜色*********************/
$color: #333;
$color-info: #909399;
$color-primary: #409eff;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;

/***************************文本颜色*********************/
$text-color-1: #303133;
$text-color-2: #606266;
$text-color-3: #909399;
$text-color-4: #c0c4cc;

/***************************边框颜色*********************/
$border-color-1: #dcdfe6;
$border-color-2: #e4e7ed;
$border-color-3: #ebeef5;
$border-color-4: #f2f6fc;

/*阴影*/
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

/***************************元素下标*********************/
/*盒子组件全屏时下标*/
$z-index-dialog-fullscreen: 6200;
$z-index-list-fullscreen: 6201;
$z-index-box-fullscreen: 6202;
