/*前缀*/
$prefix: '.m';

/***************************元素下标*********************/
$z-index-dialog-fullscreen: 6200;
$z-index-list-fullscreen: 6201;
$z-index-box-fullscreen: 6202;
$z-index-drawer-fullscreen: 6203;
