#{$prefix}-button {
  #{$prefix}-icon + &_text {
    margin-left: 7px;
  }
}

#{$prefix}-button-delete.el-button--text {
  color: #f56c6c !important;
}

.el-button--text {
  #{$prefix}-icon + #{$prefix}-button_text {
    margin-left: 5px !important;
  }
}
