#{$prefix}-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid $border-color-1;
  background-color: #fff;

  &_querybar {
    flex-shrink: 0;
    padding: 15px 15px 0 15px;
    border-bottom: 1px solid $border-color-3;
  }

  &_buttons {
    position: relative;
    flex-shrink: 0;
    padding: 7px 10px;
    text-align: right;
    border-bottom: 1px solid #ebeef5;
  }

  &_body {
    position: relative;
    flex-grow: 1;
  }

  &_table {
    position: absolute;
    height: 100%;
    width: 100%;

    .el-table {
      border: none;
      &::after {
        width: 0;
      }
    }
  }

  &_footer {
    padding: 3px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: auto;

    &_left {
      flex-grow: 1;
    }
    &_right {
      flex-shrink: 0;
    }
  }

  &_setcolumn_btn {
    padding: 0 15px;
    height: 32px;
    min-height: 32px;
    line-height: 32px;
  }

  &_setcolumn_table {
    .el-input__inner {
      text-align: center;
    }

    .el-table__row {
      cursor: move;
    }

    &_dragging {
      background-color: #8cc5ff !important;
    }
  }

  &_expand {
    padding: 15px 30px 15px 48px;

    &_title {
      margin-bottom: 3px;
      font-size: 13px;
      font-weight: bold;
    }

    &_label {
      margin: 0;
      padding: 0;
      border: none !important;
      text-align: right;
      font-size: 12px;
      color: #999;
    }

    &_content {
      font-size: 12px;
      color: #999;
    }
  }

  &_operation {
    display: inline-block;
    white-space: nowrap;

    #{$prefix}-button {
      padding: 0;
    }
  }

  &.is-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: $z-index-list-fullscreen;
  }

  &.fold-query-bar {
    #{$prefix}-list_querybar {
      display: none;
    }
  }

  &.pagination-on-right {
    #{$prefix}-list_footer {
      flex-direction: row-reverse !important;

      &_left {
        text-align: right;
      }
    }
  }
}
