#{$prefix}-tabnav {
  .el-tabs__header {
    margin: 0;
  }

  .el-tabs__nav-wrap {
    &.is-scrollable {
      padding: 0 35px;
    }
  }

  .el-tabs__nav-prev,
  .el-tabs__nav-next {
    width: 35px;
    text-align: center;
    font-size: 20px;
  }

  .el-tabs__nav-prev {
    border-right: 1px solid #f5f5f5;
  }

  .el-tabs__nav-next {
    border-left: 1px solid #f5f5f5;
  }

  .el-tabs__nav {
    border-radius: 0 !important;
    border: none !important;
  }

  .el-tabs__item {
    position: relative;
    padding: 0 20px 0 30px !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: 1px solid #f5f5f5 !important;
    color: #909399;

    .m-icon {
      margin-right: 5px;
    }

    &::before {
      content: ' ';
      position: absolute;
      display: none;
      top: 15px;
      left: 9px;
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
    }

    &.is-active {
      color: #03a9f4;

      &::before {
        display: inline-block;
        background-color: #03a9f4;
      }
    }
  }

  &_contextmenu {
    position: fixed;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ebeef5;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    z-index: 9999;

    li {
      list-style: none;
      line-height: 30px;
      padding: 0 15px;
      margin: 0;
      font-size: 13px;
      color: #606266;
      cursor: pointer;
      outline: none;

      &:first-child {
        border-bottom: 1px solid #ebeef5;
      }

      .m-icon {
        margin-right: 7px;
        font-size: 13px;
      }

      &:hover {
        background-color: #ecf5ff;
        color: #66b1ff;
      }
    }
  }
}
